.customer-loan_and_return_containers{
    display: flex;
    justify-content: center;
}


.customer-borrow_all_container{
    display: flex;
    justify-content: space-around;
    background-color: #b8aea8;
}

.customer-borrow_text_container{
    color: white;
}

.customer-form-img{
    max-width: 500px;
}
.available-filter{
    text-align: center;
}
.available-filter-on{
    background-color: #b8aea8;
}