body {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

/* .main-title {
     justify-content: center;
    font-size: 72px;
} */

.primary{
    color: orange;
}

.font-xl {
    font-size: 72px;
}


/* --------------------------------- */


@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);

.svg{
  width:100%;
  height:100%;
  text-align:center;
  margin-top:none;
  padding-top:none;
}
svg{
  max-width:100%;
}

/* ------------DON'T DELETE , ACTUAL CSS FOR HOME.JS */

a:link { 
    color: white;
    text-decoration: none; }

a:visited { 
    color: white;
    text-decoration: none; }

a:hover { 
    color: white;
    text-decoration: none; }


a:active { 
    color: white;
    text-decoration: none; }


.home-login_btn{
    display: flex;
    justify-content: end;
}

.about-us_container{
    margin-top: 4em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    border: solid #b8aea8 3px;
    background-color: #b8aea8;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}

#home-1up{
    color: rgb(89, 216, 89);
}

#home-staff_login{
    color: #b8aea8;
    padding-right: 15px;
}
      
#home-about-us_img{
    max-width: 500px;
    border-radius: 30px;
}

.about-us_textbox{
    color: white;
}