.individual-book{
    color: #f7efee;
    flex-direction: column;
    width: 275px;
    height: 350px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 5px solid #f7efee;
    background: linear-gradient(to right, #291C16 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, transparent 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px);
    box-shadow: 0 0 10px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.568);
    margin: auto;
    background-color: #776472;
}

